* {
  box-sizing: border-box;
}

@font-face {
  font-family: Acumin;
  src: url("Acumin-RPro.woff2") format("woff2");
}

body {
  font-family: "inter", sans-serif;
}

.top {
  margin-bottom: 2rem;
}
.container {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.25);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  transition: opacity 0.2s ease-in;
}

.overlay:hover {
  cursor: pointer;
}
.container:hover .overlay {
  opacity: 1;
}

.button,
.button-light {
  display: flex;
  align-items: center;
  gap: 3px;

  position: absolute;
  top: 10px;
  left: 15px;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;

  padding: 6px 13px;
  border-radius: 9999px;

  transition: background-color 0.2s ease-in-out;
}

.button-light {
  display: flex;
  align-items: center;
  gap: 3px;

  position: absolute;
  top: 10px;
  left: 15px;

  background-color: rgba(85, 85, 85, 0.6);
  backdrop-filter: blur(10px);
  color: white;

  padding: 6px 13px;
  border-radius: 9999px;

  transition: background-color 0.2s ease-in-out;
}

.container:hover .button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.button img,
.button-light img {
  width: 21px;
  height: 21px;
}

.container:hover .button-light:hover {
  background-color: rgba(170, 170, 170, 0.9);
  /* color: rgb(67, 66, 66); */
}

.folderText p {
  margin: 0;
  margin-top: 3px;
  font-size: 12px;
  font-family: "Acumin", sans-serif;
  text-align: center;
}

.banner {
  position: absolute;
  top: -10px;
  right: 10px;
  transition: transform 0.4s ease, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.container:hover .banner {
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  opacity: 1;
}

.container:hover .banner:hover {
  transform: translateY(15%);
  opacity: 1;
}

.banner img {
  width: 30px;
}

/* content styling */

.description {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

@media screen and (max-width: 900px) {
  .description {
    margin: 0 100px;
  }
}

h2 {
  color: #053eff;
}

h3 {
  margin-bottom: 0;
  color: #053eff;
}

h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

li {
  font-weight: 300;
}

.top {
  text-align: center;
}

hr {
  border: none;
  border-top: 3px solid #053eff;
  width: 100%;
  height: 0;
  display: block;
}

.images {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.images img {
  /* transition: transform 0.1s ease-in; */
  width: 600px;
  height: 100%;
}

.image-2 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
}
.image-2 img {
  width: 400px;
  height: 100%;
}
h5 {
  text-align: center;
  margin-bottom: 50px;
}

strong {
  color: red;
}

.example-product-card {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.product-container {
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .description {
    margin: 30px;
  }
  .example-product-card {
    flex-wrap: wrap;
  }

  .product-container h5 {
    margin-bottom: 1rem;
  }

  .container {
    margin-top: 1rem;
  }
  .images img {
    width: 400px;
    height: 100%;
    align-items: center;
    text-align: center;
  }

  .image-2 img {
    margin: auto;
    width: 400px;
    height: 100%;
  }
}
